*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #d6f38d;

}
.container{
    margin: 0 auto;
    max-width: 50%;
}
h1{
    font-weight: bold;
    font-size: 42px;
    margin: 3% 0;
}
input[type="radio"]{
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.tab-content{
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    max-height: 0;
    width: auto;
    text-align: center;
    margin: auto;
    background: rgba(243, 243, 243, 0.863);

}

.tab-content img {
    max-width: 50%;
    max-height: 40vh;
}

label{
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    padding: 1%;
    font-weight: bold;
    color: #fff;
    background: rgb(18, 18, 59);
    border-top: 1px solid rgb(0, 0, 0);
    text-transform: capitalize;
}
.accordion-block{
    width: 100%;
}

.accordion-wrap:hover label span::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}
.accordion-block input:hover  ~ label {
    color: #9fbac5;
}
.accordion-wrap:hover label{
    color: #d6f38d;
}
input:checked ~ .tab-content {
    opacity: 1;
    padding: 1em;
    max-height: 100vh;
}
.tab-content:active img{
    opacity: 0.7;
    transition: all .35s;
}
.accordion-block:hover .tab-content{
    opacity: 1;
    padding: 1em;
    max-height: 50vh;
}
input:checked + label span::after {
    content: "✖";
}

@media screen and (max-width: 900px){
    .container {
        max-width: 80%;
    }
    label{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 20px;
        margin-top: 3%;
    }
    .container {
        max-width: 95%;
    }
    label{
        font-size: 15px;
        padding: 3%;

    }
    input:checked ~ .tab-content {
        padding: 0.5em;
    }
    .accordion-block:hover .tab-content{
        opacity: 1;
        padding: 1em;
        max-height: 50vh;
    }
    .tab-content img {
        max-height: 100vh;
    }
}